extends layout-no-menu

block content
	if username
		section#game-container(class=`username-${username}`)
		script.
			var settings = {
				timestampsEnabled: #{timestampsEnabled}
			}
	else
		section#game-container