doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")

		meta(name="theme-color", content="#aaa")
		meta(name="description", content="todo")

		link(rel="stylesheet", type="text/css", href="/styles/style-main.css")
				
		link(href="//fonts.googleapis.com/css?family=Comfortaa|Cuprum:400i|Germania+One|Roboto+Slab", rel="stylesheet", type="text/css")
		link(rel="author", href="humans.txt")
		link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
		link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
		link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#aaa")
		link(rel="manifest", href="/manifest.json")
		title Invasion
	body
		#main
			block content

		
		//- script.
		//- 	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		//- 	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		//- 	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		//- 	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		//- 	ga('create', 'UA-105770066-1', 'auto');
		//- 	ga('send', 'pageview');
		if game
			script(src="/scripts/bundle.js")
			//- script(src="http://localhost:35729/livereload.js")
		else
			script(src="/scripts/site.js?abcd")
		block footer