doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="theme-color", content="#c36563")
		meta(name="description", content="A social deduction/hidden role multiplayer web game.")
		if game
		else
			meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
			link(rel="stylesheet", type="text/css", href="/styles/style-web.css")
		link(rel="author", href="humans.txt")
		link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
		link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
		link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#aaa")
		link(rel="manifest", href="/manifest.json")
		title Invasion
	body
		if game
			script(src="/scripts/bundle.js")
		else
			//- script(src="/scripts/site.js?abcdefghija")

		block content
		block footer