@import './variables';
@import './sidebar';
@import './header';
@import './mid';
@import './settings';
@import './gamelist';
@import './map';
@import './gamechat';
@import './game';
@import './meters';
@import './players';
@import './inventory';

.app-container {
	min-height: 100vh;

	> .ant-layout-content {
		display: flex;
		flex-direction: row-reverse;
	}
}
