.gamechat-container {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	position: relative;

	// .leave-game-tooltip {
	// 	background: $cobalt;
	// }
	.leave-game {
		position: absolute;
		font-size: 22px;
		right: 5px;
		top: 5px;
		cursor: pointer;

		&:hover {
			color: orange;
		}
	}

	.chats-container {
		flex-grow: 1;
		background: #000;

		ul {
			list-style-type: none;
			padding: 5px;
			display: flex;
			flex-direction: column;
			overflow-y: scroll;
			margin: 0;
		}
	}

	form {
		display: flex;
	}
}
