.game-container {
	flex-grow: 1;
	display: flex;

	.game-left-column-container {
		position: relative;
		width: 700px;
		min-width: 700px;

		.status {
			background: #222;
			color: #aaa;
			font-style: italic;
			padding: 4px 5px;
			font-size: 22px;
			text-shadow: 1px 1px 2px darkblue;
		}

		.players-container {
			position: absolute;
			top: 0;
			left: 0;
			transition: all 1s;

			.creator-start-game-icon {
				position: absolute;
				top: 320px;
				left: 300px;
				width: 80px;
			}

			.join-game {
				position: absolute;
				top: 250px;
				left: 300px;
			}

			.user-icon {
				width: 65px;
				height: 65px;
				background: black;
				border-radius: 50%;
				border: 2px solid $cobalt;
			}
		}
	}
}
