.app-header {
	background: #333;
	padding: 0;

	.header-content {
		display: flex;
		justify-content: space-between;

		> div {
			margin-right: 20px;
		}

		> h1 {
			color: #eee;
			margin: 0 0 0 20px;
		}
	}

	&.collapsed {
		height: 10px;
	}
}

.signup-modal {
	.signup-password1 {
		margin: 10px 0;
	}

	.signup-password2 {
		margin-bottom: 10px;
	}
}

.signin-modal {
	.signin-password {
		margin: 10px 0;
	}
}

.form-error-message {
	color: red;
	margin-left: 10px;
}

.header-border {
	height: 5px;
	background: $cobalt;
	background: linear-gradient(to left, $cobalt 0%, #7db9e8 100%);
	position: relative;
	top: -5px;
	cursor: pointer;

	&.collapsed {
		top: 0;
		height: 12px;
		display: flex;

		> i {
			color: #bbb;
			margin: 0 auto;
			font-size: 12px;
		}
	}
}
