.sidebar-container {
	background: #1e1e1e;
	color: #fff;

	.expand-collapse-sidebar {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;

		> i {
			font-size: 50px;
			color: #bbb;
		}
	}
}

.sidebar-border {
	background: $cobalt;
	width: 5px;
	cursor: col-resize;
	position: relative;
	z-index: 1;

	&:hover {
		opacity: 0.8;
	}

	&.dragging {
		background: $darkliberalteam;
	}

	&.collapsed {
		width: 12px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		> i {
			font-size: 8px;
			color: #bbb;
		}
	}
}
