$cobalt: #0047ab;

$lightliberalteam: #bfd8ee;
$lightfascistteam: #e4bcba;
$darkliberalteam: #608cb3;
$darkfascistteam: #f2654c; // default orange color now
$hitlerteam: #be0804;
$fascistteam: #e36248;
$notification: #fbbd08;
$selection: #db2828;
$proceed: #2185d0;
$blacklist: #462c35;

$textfont: inherit; //'Comfortaa', Lato, sans-serif;
$headerfont: inherit; //'Comfortaa', Lato, sans-serif;
